{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
  <!-- Breadcrumb Section Begin -->
  <section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form method="GET" action="{% url 'search' %}" name="search-form">
                            {% csrf_token %}
                            <input type="text" placeholder="Search..." name="q">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>

                           
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {% for cat in categories %}
                                                <li><a href="{% url 'getSubCategories' cat.id %}">{{cat.cat_name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if subCategories %}
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Sub Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                           
                                            <ul class="nice-scroll">
                                                {%for subCat in subCategories %}
                                                    <li><a href="{% url 'getProducts' subCat.id%}">{{subCat.sub_cat_name}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-9">
               
                <div class="row">
                    {% if productList %}
                        {%for b in productList %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item zoom">
                                    <a href="{% url 'product-detail' b.id%}">
                                    <div class="product__item__pic set-bg" data-setbg="{{b.image1.url}}">
                                     
                                    </div>
                                </a>
                                    <div class="product__item__text" style="margin-top: 10%;">
                                        <h6>{{b.name}}</h6>
                                        <form action="/add-to-cart" class ="d-inline product-form">
                                            {% csrf_token %}
                                            <input type ="hidden"  name="prod_id" value="{{b.id}}" id="prod_id">
                                            <button type ="sumbit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
                                      </form>
                                        <h5 style="font-weight: bold; margin-top: 5%;">Rs. {{b.discounted_price}}</h5>      
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
              
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
{% endblock main-content %}